<form [formGroup]="formGroup">
    <button style="margin: 0.5em 2em;" mat-raised-button (click)="addNewRow()">New Row
        <mat-icon>
            add_circle_outline
        </mat-icon>
    </button> 
    <button style="margin: 0.5em 2em;" mat-raised-button (click)="doAction()">print formGroup to console
        <mat-icon>
            print
        </mat-icon>
    </button>
    <div class="mat-elevation-z8 table-group" style="width: max-content; margin: 1em 2em;">
        <mat-table matSort [dataSource]="dataSource" cdkDropList (cdkDropListDropped)="onDrop($event)"
            [cdkDropListData]="dataSource.data" (matSortChange)="onSortChange($event)">

            <ng-container matColumnDef="drag">
                <th mat-header-cell class="action" *matHeaderCellDef>
                    <mat-icon>drag_indicator</mat-icon>
                </th>
                <td mat-cell class="action" *matCellDef="let element;  let idx=index;">
                    <div cdkDragHandle style="cursor: ns-resize;" [ngClass]="{'drag-handle-disabled': sortActive}">
                        <mat-icon>drag_indicator</mat-icon>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element;" [formGroup]="element">
                        {{ element.get('id').value }}
                </td>
            </ng-container>

            <ng-container matColumnDef="brand">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Brand</th>
                <td mat-cell *matCellDef="let element;" [formGroup]="element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Brand" formControlName='brand'>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="productName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Produkt Name</th>
                <td mat-cell *matCellDef="let element;" [formGroup]="element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Product" formControlName='productName'>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element;" [formGroup]="element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Price" formControlName='price'>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell class="action" *matHeaderCellDef>Actions</th>
                <td mat-cell class="action" *matCellDef="let element; let i = index;" [formGroup]="element">
                    <button mat-button (click)="removeRow(element.value.id)"><mat-icon>delete</mat-icon></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <!-- TAG_A35T6: [cdkDragData]="row" injects the row object itself (type here is FomrGroup) into the Angular <tr>-row -->
            <!-- in the code we find this in a drop event at event.item.data -->
            <!-- Search for the tag TAG_A35T6 in the component class to find the location-->
            <tr mat-row cdkDrag [cdkDragData]="row" [cdkDragDisabled]="sortActive" *matRowDef="let row; columns: displayColumns;"></tr>

        </mat-table>
        <mat-paginator [length]="dataSource ? dataSource.data.length:0" [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="5"
            showFirstLastButtons style="width: auto !important;">
        </mat-paginator>
    </div>

</form>

<mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
    <mat-expansion-panel [hideToggle]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>Data Model</mat-panel-title>
            <mat-panel-description>
                Pretty printed data content of main FormGroup this.formGroup.value
            </mat-panel-description>
        </mat-expansion-panel-header>

        <pre>formGroup.value (via dataString, see code) = {{ dataString }}</pre>
    </mat-expansion-panel>
</mat-accordion>
