<form [formGroup]="formGroup">
    <button style="margin: 0.5em 2em;" mat-raised-button (click)="addNewRow()">New Row
        <mat-icon>
            add_circle_outline
        </mat-icon>
    </button>
    <div class="mat-elevation-z8 table-group" style="width: max-content; margin: 1em 2em;">
        <table mat-table matSort [dataSource]="dataSource">

            <ng-container matColumnDef="drag">
                <th mat-header-cell *matHeaderCellDef><mat-icon>drag_indicator</mat-icon></th>
                <td mat-cell *matCellDef="let element;  let idx=index;"><mat-icon>drag_indicator</mat-icon></td>
            </ng-container>

            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element;  let idx=index;">{{ viewRow2dataRow(idx)+1 }}</td>
            </ng-container>

            <ng-container matColumnDef="brand">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Brand</th>
                <td mat-cell *matCellDef="let element;" [formGroup]="element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Brand" formControlName='brand'>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="productName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Produkt Name</th>
                <td mat-cell *matCellDef="let element;" [formGroup]="element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Product" formControlName='productName'>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element;" [formGroup]="element">
                    <mat-form-field floatLabel="never">
                        <input matInput placeholder="Price" formControlName='price'>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element; let i = index;" [formGroup]="element">
                    <mat-icon (click)="removeRow(i)">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

        </table>
        <mat-paginator [length]="formArray? formArray.length:0" [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="5"
            showFirstLastButtons style="width: auto !important;">
        </mat-paginator>
    </div>

</form>

<mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
    <mat-expansion-panel [hideToggle]="false">
        <mat-expansion-panel-header>Developer Info</mat-expansion-panel-header>
        <pre>formGroup.value = {{ formGroup.value | json }}</pre>
        <mat-action-row>
            <button mat-button (click)="onAction(event)">Action1</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>